<template>
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Registre un vehiculo</h1>
      <p class="mb-8 leading-relaxed">En esta seccion puede registrar un vehiculo selecione los parametros.</p>
      
      <div class="relative inline-block w-full text-gray-700">
        <select required v-model="vehiculo.categoria_id" class="w-full h-10 pl-3 pr-6 text-base placeholder-gray-600 border rounded-lg appearance-none focus:shadow-outline" placeholder="Regular input">
            <option v-for="(categoria, index) in categorias" :key="index" :value="categoria.id"> {{categoria.nombre}}</option>
            
        </select>
        <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
            <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20"><path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path></svg>
        </div>
        </div>
      <div class="flex w-full md:justify-start justify-center items-end">
        
        <div class="relative mr-4 md:w-full lg:w-full xl:w-full w-2/4">
          <label for="hero-field" class="leading-7 text-sm text-gray-600">LLantas</label>
          <input v-model="vehiculo.llantas" type="text" id="hero-field" name="hero-field" class="w-full bg-gray-100 rounded border bg-opacity-50 border-gray-300 focus:ring-2 focus:ring-indigo-200 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
       
      </div>
      <div class="flex w-full md:justify-start justify-center items-end">
        
        <div class="relative mr-4 md:w-full lg:w-full xl:w-full w-2/4">
          <label for="hero-field" class="leading-7 text-sm text-gray-600">Potencia de motor</label>
          <input v-model="vehiculo.potencia" type="text" id="hero-field" name="hero-field" class="w-full bg-gray-100 rounded border bg-opacity-50 border-gray-300 focus:ring-2 focus:ring-indigo-200 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>    
     </div>
      
      <p class="text-sm mt-2 text-gray-500 mb-8 w-full">
          <button @click="enviar" class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Agregar</button>.</p>
      <div class="flex lg:flex-row md:flex-col">
        
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
    </div>
  </div>
</section>
</template>
<script>
import Factory from "../../models/Factory";

export default {
 name: "registrarmenu",
  data() { return { 
        Vehiculos: Factory.vehiculo,
        Categorias:Factory.categoria,
        vehiculo:{  
                user_id : 'null',
                categoria_id: 'null',
                llantas : null,
                potencia: null, 
        },
        mostrar :false,
        user_id:null,
        errom:false,
        categorias:[],
	}},
	mounted() {
        //console.log(localStorage.getItem('nombre'))
        this.user_id = localStorage.getItem('id');
         this.Categorias.listar( ).then( response => {
             console.log(response)
             this.categorias =response;
          })
    },
    methods:{
        enviar(event) {
          this.vehiculo.user_id = this.user_id
          //console.log(this.vehiculo)
          event.preventDefault()  
          if (this.vehiculo.categoria_id !=null && this.vehiculo.llantas !=null && this.vehiculo.potencia !=null) {
          this.Vehiculos.agregar( this.vehiculo).then( response => { 
            console.log(response);
           // console.log('ok');
            //this.mostrar = false;
            this.$router.push('/autos');  
           });
        }else {
          alert('Todos los campos son requeridos')  
          this.errom =true;
        }
        },
        
    },
  computed: {}  
};
</script>