<template>
<div class="flex-1 flex flex-col">
		<nav class="px-4 flex justify-between bg-white h-16 border-b-2">

			<!-- top bar left -->
			<ul class="flex items-center">
				
                
			</ul>
         <ul class="flex items-center">
                <li class="block relative"  >
                    <router-link to="/autos/agregar" href="#" class="flex items-center h-10 leading-10 px-4 rounded cursor-pointer no-underline hover:no-underline transition-colors duration-100 mx-1 bg-indigo-500 text-white" >
                        <span class="mr-3 text-xl"> <i class="mdi mdi-gauge"></i> </span>
                        <span>Agregar</span>
                        <span class="ml-2"> <i class="mdi mdi-chevron-down"></i> </span>
                    </router-link>
                    
                </li>

			</ul>

		</nav>
           
	</div>
<section class="text-gray-600 body-font">
    
  <div class="container px-5 py-24 mx-auto">
      
    <div class="flex flex-wrap -m-4">
      <div v-for="(auto ,index) in autos" :key="index" class="lg:w-1/4 md:w-1/2 p-4 w-full"> 
        <button @click="eliminar(auto,index)" type="button" class="bg-red-500 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
              <span class="sr-only">Eliminar</span>
              <!-- Heroicon name: outline/x -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
        </button>
        <a class="block relative h-48 rounded overflow-hidden">
           <img v-if="auto.categoria.nombre =='Motocicletas'" alt="ecommerce" class="object-cover object-center w-full h-full block" src="../../assets/moto.png">
          <img v-else alt="ecommerce" class="object-cover object-center w-full h-full block" src="../../assets/car-png.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORIA</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">{{auto.categoria.nombre}}</h2>
          <p class="mt-1">LLANTAS : {{auto.llantas}} </p>
          <p class="mt-1">POTENCIA DEL MOTOR : {{auto.potencia}} cc</p>
        </div>
      </div>
      
    </div>
  </div>
</section>
</template>
<script>
import Factory from "../../models/Factory";

export default {
 name: "Autos",
  data() { return { 
        Vehiculos: Factory.vehiculo,
        //Categorias:Factory.categoria,
        vehiculo:{  
                user_id : 'null',
                categoria_id: 'null',
                llantas : null,
                potencia: null, 
        },
        mostrar :false,
        autos:[],
	}},
	mounted() {
        //console.log(localStorage.getItem('nombre'))
        this.user_id = localStorage.getItem('id');
         this.Vehiculos.listar({conditions:[],relations:['categoria']}).then( response => {
             console.log(response)
             this.autos =response;
          })
    },
    methods:{
        eliminar(auto,index){
            //this.autos.splice[1,index]
            this.Vehiculos.eliminar( auto).then( response => { 
            console.log(response);
           // console.log('ok');
            this.autos.splice(index,1);
            //this.mostrar = false;
            //this.$router.push('/autos');  
           }); 
        }
        
    },
  computed: {}  
};
</script>