<template>
  <section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5  items-center justify-center flex-col pb-10">
    <img class="lg:w-2/6 md:w-4/5 w-11/12 mb-10 object-cover object-center rounded" alt="hero" src="../../assets/desarrollo.jpg">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Proyecto de Alan Vasquez para vacante de dev web en Gilasw.mx</h1>
      <p class="mb-8 leading-relaxed">Ejercicio:
Se requiere crear un sistema de control de inventario de automóviles en el cual únicamente
se podrá mostrar y agregar vehículos al sistema. En este ejercicio solo se usarán dos tipos
de vehículos (sedan y motocicletas), diferenciando número de llantas y potencia de motor.
Con esto se busca categorizar el tipo de vehículo usando abstracción, herencia, etc..</p>
      <div class="flex justify-center">
      <div class="p-2 sm:w-1/2 w-full">
        <a href="https://bitbucket.org/alanhiken/spa-autos/src/" target="_blank"  class="bg-gray-100 rounded flex p-4 h-full items-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="title-font font-medium">Repositorio SPA (Single Page Application) - Bitbuket</span>
        </a>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <a href="https://bitbucket.org/alanhiken/site-autos/src" target="_blank" class="bg-gray-100 rounded flex p-4 h-full items-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="title-font font-medium">Repositorio Back-end (LARAVEL-PHP) - Bitbuket</span>
        </a>
      </div>
      </div>
    </div>
  </div>
</section>
</template>