<template>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <h1 class="title-font font-medium text-3xl text-gray-900">Applicacion demo de registro de vehiculos</h1>
      <p class="leading-relaxed mt-4">Para acceder a esta aplicacion demo puedes hacerlo con la siguientes credenciales Email: soporte@gilasw.com  Password: 123456 </p>
    </div>
    <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
      <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Sign Up</h2>
      <div class="relative mb-4">
        <label for="email" class="leading-7 text-sm  text-gray-600" >Email</label>
        <input type="email" id="email" v-model="dataLogin.email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <div class="relative mb-4">
        <label for="full-name" class="leading-7 text-sm text-gray-600">Password</label>
        <input id="full-name" type="password" v-model="dataLogin.password" name="full-name" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <button @click.prevent="showMsgOk" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Ingresa</button>
      <p class="text-xs text-gray-500 mt-3"> Disfruta tu navegacion por la aplicacion ;)</p>
    </div>
  </div>
</section>
</template>
<script>
import Factory from '../../models/Factory';
export default {
  data() { return {
		Api: Factory.api,
    dataLogin: {
      username: null,
      password: null
    },
    errors: []
  };
  },
  mounted() {
		this.verificarLoginActivo();
	},
  methods: {
    showMsgOk() {
     
        this.Api.get('/sanctum/csrf-cookie').then(() => {
				this.Api.post('/api/login',this.dataLogin).then(response => {
          if (response.email != null){
              alert('Verifique que las credenciales sean correctas')
             this.errors= response;
          }else {
          localStorage.setItem('token', response.data.token);
                    localStorage.setItem('rol', response.data.user.rol);
                    localStorage.setItem('id', response.data.user.id);
                    localStorage.setItem('nombre', response.data.user.nombre);
         // this.$store.commit('setuserrol',response.data.user.rol);
          location.reload();
          }
				});
			});
      },
		verificarLoginActivo() {
			let token = localStorage.getItem('token');
			let rol = localStorage.getItem('rol');
			let roles = ['admin','cliente'];
			if(token !== null && token.length > 0 && roles.includes(rol)) {
				switch(rol) {
					case 'admin':this.$router.push('/home');break;
				}
			}
		},
	}
};
</script>