<template>
 <div v-if="isLoggedIn" class="flex-1 flex flex-col">
		<nav class="px-4 flex justify-between bg-white h-16 border-b-2">

			<!-- top bar left -->
			<ul class="flex items-center">
				
                <li class="block relative"  >
                    <router-link to="/home" href="#" class="flex items-center h-10 leading-10 px-4 rounded cursor-pointer no-underline hover:no-underline transition-colors duration-100 mx-1 bg-indigo-500 text-white" >
                        <span class="mr-3 text-xl"> <i class="mdi mdi-gauge"></i> </span>
                        <span>Home</span>
                        <span class="ml-2"> <i class="mdi mdi-chevron-down"></i> </span>
                    </router-link>
                    
                </li>
                <li>
                    <router-link to="/autos" class="block relative">
                    <a href="#" class="flex items-center h-10 leading-10 px-4 rounded cursor-pointer no-underline hover:no-underline transition-colors duration-100 mx-1 hover:bg-gray-100">
                        <span class="mr-3 text-xl"> <i class="mdi mdi-widgets-outline"></i> </span>
                        <span>Vehiculos</span>
                    </a>
                </router-link>
                </li>
                <li>
                    <router-link to="/ver/bd" class="block relative">
                    <a href="#" class="flex items-center h-10 leading-10 px-4 rounded cursor-pointer no-underline hover:no-underline transition-colors duration-100 mx-1 hover:bg-gray-100">
                        <span class="mr-3 text-xl"> <i class="mdi mdi-widgets-outline"></i> </span>
                        <span>BD</span>
                    </a>
                </router-link>
                </li>
			</ul>

			

			<!-- to bar right  -->
			<ul class="flex items-center">
                <li  class=" h-10 w-10 ">
					<img
						class="h-full w-full rounded-full mx-auto"
						src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
						alt="profile woman" />
				</li>
                <li @click="logout" class="pl-6">
					 <img alt="Vue logo" width="24" height="24" src="../../assets/logout.png" />

				</li>

			</ul>

		</nav>
           
	</div>

</template>
<script>
export default {
    data() { 
    return {
		showChildren: false,
      }
    },
    mounted() {
		this.rol = localStorage.getItem('rol');
        if(!this.rol){
            this.$router.push('/')
        }
	},
    methods: {
    logout() {
			localStorage.clear();
			location.reload();
		},
    },
    computed: {
	isLoggedIn() {
      let token = localStorage.getItem('token');
      console.log("logeado: ",(token !== null && token.length > 0));
			return token !== null && token.length > 0;
    },
  },
}
</script>

