<template>
<div>
  <div class="flex-1 flex flex-col">
  <Sidebar></Sidebar>

  </div>
  <!-- route outlet -->
  <div class="pt-6">
        <router-view></router-view>
    </div>
  <!-- component matched by the route will render here -->
  
</div>
</template>

<script>
import LoginVue from "./components/pages/Login.vue";
import Sidebar from "./components/generales/sidebar.vue";
export default {
    data(){
        return{
          logeado:false,
        }
    },
    components:{ LoginVue, Sidebar },    
    mounted(){
         
       
    },
    methods:{
        salir(flag){
          this.logeado = true
        },
          showNav(flag){
            if (flag) {
                Main.classList.toggle("-translate-x-full")
                Main.classList.toggle("translate-x-0")
                open.classList.toggle("hidden");
                close.classList.toggle("hidden")
            } 
        }
    }
}
</script>

<style>

</style>